 4. Create a list of your favorite movies and print it. Then, append a new movie to the list and
print the updated list.

In [3]:
List_movies = ['Interstellar','PK', '3Idiots']
List_movies

['Interstellar', 'PK', '3Idiots']

In [4]:
List_movies.append('Corporate')
List_movies

['Interstellar', 'PK', '3Idiots', 'Corporate']

 5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [12]:
List_integer = [1,2,3,4,5,6,7,8,9,10]
List_integer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
sum_of_List_Integer = sum(List_integer)
sum_of_List_Integer

55

 6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [16]:
List_mixeddata =["Python",7,3.12]
List_mixeddata

['Python', 7, 3.12]

In [17]:
modified = List_mixeddata.pop(0)
modified

'Python'

 7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day..

In [18]:
week = ["Sunday" , "Monday" , "Tuesday", "Wednesday" , "Thursday" ,"Friday", "Saturday"]
week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [20]:
Thirdday = week[2]
Thirdday

'Tuesday'

 8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result..

In [22]:
Favourite_color = ["green", "white", "orange", "red"]
Favourite_color

['green', 'white', 'orange', 'red']

In [25]:
check= "blue"
present = check in Favourite_color
present

False

In [26]:
check = "red"
present = check in Favourite_color
present

True

 9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary..

In [27]:
 book = {'name' : 'A Thousand Splendid Suns ' , 'author' : 'Khaled Hosseini' ,'year': '2007' }
book

{'name': 'A Thousand Splendid Suns ',
 'author': 'Khaled Hosseini',
 'year': '2007'}

In [36]:
book['year'] ='2013'
book

{'name': 'A Thousand Splendid Suns ',
 'author': 'Khaled Hosseini',
 'year': '2013',
 'price': '599'}

 10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.



y.

In [34]:
fruits = { 'apple': 'red', 'mango':'yellow', 'grapes':'green'}
fruits

{'apple': 'red', 'mango': 'yellow', 'grapes': 'green'}

In [35]:
fruits['orange'] = 'orange'
fruits

{'apple': 'red', 'mango': 'yellow', 'grapes': 'green', 'orange': 'orange'}

In [43]:

try:
    pineapple = fruits['pineapple']
except KeyError:
    print('Sorry, key not found')

Sorry, key not found

In [44]:
fruits['pineapple'] = 'yellow'
fruits

{'apple': 'red',
 'mango': 'yellow',
 'grapes': 'green',
 'orange': 'orange',
 'pineapple': 'yellow'}

 11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.y.

In [45]:
cities = {'ktm':'847832' , 'biartnagar':'46743', 'pokhara':'36432'}
cities

{'ktm': '847832', 'biartnagar': '46743', 'pokhara': '36432'}

In [52]:
remove = 'pokhara'
if remove in cities:
   del cities[remove]
cities

{'ktm': '847832', 'biartnagar': '46743'}